<!DOCTYPE html>
<html>
<head>
<title>node.js real</title>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
google.load("jquery", "1.4.2");
</script>
<script src="socket.io.js" type="text/javascript" charset="utf-8"></script>
<script src="socket.js" type="text/javascript" charset="utf-8"></script>
<script src="client.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<ul id="pageViews"></ul>
<div id="json_data"></div>
</body>
</html>
